  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: sans-serif;
  }

  nav {
      background-color: #222222;
      width: 100%;
  }

  .navbar {
      display: flex;
      justify-content: space-between;
  }

  ul {
      list-style-type: none;
      overflow: hidden;
      background-color: #222222;
  }

  li {
      float: left;
  }

  li a {
      display: block;
      color: #666;
      text-align: center;
      padding: 20px 20px;
      text-decoration: none;
  }

  li a:hover:not(.active) {
      background-color: #ddd;
  }

  li a.active {
      color: white;
      background-color: #777b7e;
  }

  .card {
      display: flex;
      width: 50%;
      border: 1px solid black;
      margin: 5px;
      /* height: 0px; */
      margin: auto;
      padding: 35px;
  }

  .main {
      display: flex;
  }

  .detailsDiv {
      display: flex;
  }

  .priceCard {
      border: 1px solid black;
      min-width: 450px;
      height: 300px;
      margin: auto;
      margin-top: 100px;
  }

  table,
  th,
  td {
      border: #222222 2px solid;
  }

  thead {
      font-weight: 800;
      text-align: center;
  }

  td {
      padding: .5em 1em;
  }